.git
.github
.venv
.vscode
.claude
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
downloads/
log/
sessions/
temp/
tests/
Makefile
media_downloader.spec
mypy.ini
pylintrc
data.yaml
config.yaml
.pre-commit-config.yaml
codecov.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
dev-requirements.txt
gen_filter_cache.py
screenshot/
setup.py
.gitignore
.dockerignore
audio/
document/
photo/
voice/
video/
video_note/
